node_modules
.DS_Store
build
.env
.env.frontend
.env.backend
.env.development.backend
.env.production.frontend
.env.development.frontend
.env.production.backend
.env.development.backend
# Ignorer tous les vrais fichiers .env
.env.development.backend
.env.development.frontend
.env.production.backend
.env.production.frontend